/* Import Font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --font-size-large: 42px;
  --font-size-medium: 28px;
  --font-size-small: 18px;
  --font-size-extra-small: 16px;
  --font-size-paragraph: 14px;

  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  --color-white: #ffffff;
  --color-grey: #f8f5f4;
  --color-black: #252525;
  --color-green: #507b64;
  --color-orange: #fd5a46;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  position: relative;
}

body {
  padding-top: 10px;
}

h3.heading {
  font-size: var(--font-size-medium);
  color: var(--color-black);
  font-weight: var(--font-weight-semi-bold);
}

.sec-heading {
  padding-top: 250px;
}

.sec-content {
  padding-top: 70px;
}

.container-card {
  display: flex;
  padding: 70px;
}

.btn.btn-outline-green {
  margin-left: 20px;
  border: 2px #507b64 solid;
  color: var(--color-green);
  border-radius: 14px;
}

.btn.btn-outline-green:hover {
  color: var(--color-grey);
  background-color: var(--color-green);
}

.btn.btn-outline-orange {
  margin-left: 20px;
  border: 2px #fd5a46 solid;
  color: var(--color-orange);
  border-radius: 14px;
}

.btn.btn-outline-orange:hover {
  color: var(--color-grey);
  background-color: var(--color-orange);
}

.card.card-content {
  border-radius: 14px;
}

/* Navbar Styles */
nav {
  background-color: var(--color-white);
}

.navbar-brand img,
form {
  margin: 0px 60px;
}

.navbar-nav li {
  margin-right: 30px;
  font-weight: var(--font-size-medium);
}

.navbar-nav li:hover,
.navbar-nav li.active {
  font-weight: var(--font-weight-semi-bold);
}

.input-group {
  border: 1px #252525 solid;
  border-radius: 6px;
}

/* Header Styles */
.header {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-black);
}

.span-text {
  color: var(--color-orange);
}

p {
  padding-top: 20px;
  font-size: var(--font-size-paragraph);
  color: var(--color-black);
}

h1.header {
  margin-top: 30px;
}

h3.button-text {
  display: inline;
  color: var(--color-black);
  font-size: var(--font-size-extra-small);
}

h4.card-heading {
  display: inline;
  margin-left: 20px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  color: var(--color-grey);
  padding: 0;
}

.grid-container {
  display: flex;
  margin-top: 70px;
}

.background-slice {
  background-color: var(--color-grey);
  padding: 50px;
  border-radius: 30px;
  box-shadow: var(--color-black) 0px 30px 50px -60px;
}

.img-noodle {
  max-width: 100%;
  transform: rotate(60deg);
}

.button-shadow {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  border-radius: 14px;
  color: var(--color-black);
  background-color: var(--color-orange);
  box-shadow: 10px 10px 0px -2px rgba(37, 37, 37, 1);
}

.button-shadow:hover {
  background-color: var(--color-green);
}

.icons {
  color: var(--color-grey);
}

.card.color-orange {
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: var(--color-orange);
}

.card.color-green {
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: var(--color-green);
}

.card.color-orange {
  box-shadow: var(--color-black) 0px 0px 60px -20px;
}

.card.color-green {
  box-shadow: var(--color-black) 0px 0px 60px -20px;
}

/* Recipe Styles */
.card-body-recipes {
  padding: 15px;
}

.card-img-top {
  max-width: 100%;
  padding: 15px;
}

.card-text {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
}

.stars {
  color: var(--color-orange);
  font-size: var(--font-size-paragraph);
}

.stars p {
  display: inline;
  margin-left: 15px;
}

.min-cal {
  font-size: var(--font-size-paragraph);
  color: var(--color-green);
  margin: 0 20px 20px;
}

.min-cal i {
  margin: 10px;
}

/* About Styles */
.bg-img {
  border-radius: 50px 50px 50px 200px;
  background-image: url(/Asset/cooking.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  margin-bottom: 50px;
}

/* Services Styles */
.card-body-services,
.card-body-reviews {
  padding: 40px;
}

.card-body-services:hover,
.card-body-reviews:hover {
  box-shadow: var(--color-orange) 0px 50px 100px -70px;
}

.card-link {
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-orange);
  text-decoration: none;
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container.achievement {
  text-align: center;
}

.container li {
  text-align: left;
  display: inline-block;
  margin-right: 80px;
}

.container li:last-child {
  margin-right: 0;
}

.container li h3 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-green);
}

.container li h6 {
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-medium);
  color: var(--color-green);
}

/* Reviews Styles */
.profile-picture {
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user-reviews {
  display: flex;
}

.card-text h5 {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-black);
}

.card-text h6 {
  font-size: var(--font-size-paragraph);
  color: var(--color-black);
  font-weight: var();
}

.card-body-reviews p {
  margin-top: 30px;
  padding: 0;
}

/* Footer Styles */
footer {
  background-color: var(--color-green);
}
/* 
footer .container {
  padding: 0;
} */

footer .row {
  padding: 40px 0px 20px;
}

footer .col {
  padding: 0;
}

.col-5 ul {
  margin-top: 5px;
}

.col-5 ul li a {
  color: #f8f5f4;
  text-decoration: none;
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-regular);
}
